<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--CSS general-->
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    
    <!--CSS especifico de cada pagina-->
    {% block css %}

    {% endblock %}

    <title>{% block title %}BIOGRAM{% endblock %}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
</head>
<body>
     <!-- ===== HEADER ===== -->

    <header>

        <nav class="navbar">

            <div class="logo">

                <img src="{{ url_for('static', path='img/logoBiogram.jpg') }}"
                     alt="Logo">

            </div>

            <ul class="menu">

                <li><a href="/">Inicio</a></li>

                <li><a href="/diccionario">Diccionario</a></li>

                <li><a href="/foro">Foro</a></li>

                <li><a href="/LabMicro">Laboratorio</a></li>

            </ul>

            {% if usuario %}
            <a href="/perfil" class="btn-login">
                Perfil
            </a>

            {% else %}
            <a href="/login" class="btn-login">
                Iniciar sesión
            </a>
            
            {% endif %}
            

        </nav>

    </header>

    <!-- ===== CONTENIDO ===== -->

    <main>

        {% block contenido %}

        {% endblock %}

    </main>

    <script src="{{ url_for('static', path='js/script.js') }}"></script>
    {% block js %}

    {% endblock %}

</body>
</html>