{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/identificacion.css') }}">
{% endblock %}

{% block contenido %}

<!--Pantalla inicial-->
<div id="pantallaCargaIdentificacion">
    <h1>Identificación bacteriana</h1>
</div>
<!--Todo el contenido de la pagina-->
<main id="contenidoIdentificacion">
    <div class="identificacion-container">
        <!--Barra de progreso-->
        <section class="progress-container">
            <h3 class="progress-title">
                Identificación bacteriana
            </h3>

            <p class="progress-text">
                Paso
                <span id="pasoActual">1</span>
                de
                <span id="totalPasos">2</span>
            </p>

            <div class="progress-bar">
                <div class="progress-fill" id="progressFill">
                </div>
            </div>

        </section>

        <!--Tarjeta-->
        <section class="card">
            <!-- Encabezado -->
            <div class="card-header">
                <h2 id="tituloPrueba">Tinción de Gram</h2>

                <button class="dictionary-btn">
                    <i class="fa-solid fa-book-open"></i>
                    Diccionario
                </button>
            </div>
            <!-- Pregunta -->
            <p class="question" id="preguntaPrueba">
                Selecciona el resultado obtenido.
            </p>

            <!-- Opciones -->
            <div class="options" id="contenedorOpciones">
                <button class="option" data-value="positivo">
                    Gram positivo
                </button>
                <button class="option" data-value="negativo">
                    Gram negativo
                </button>
            </div>

            <!-- Navegación -->
            <div class="card-footer">

                <button class="back" id="btnAtras">
                    <i class="fa-solid fa-caret-left"></i>
                    Atrás
                </button>

                <button class="continue" disabled>
                    Continuar
                    <i class="fa-solid fa-caret-right"></i>
                </button>
            </div>
        </section>

        <!-- Resultados -->
        <section id="resultadoIdentificacion" class="resultado-identificacion">

            <h2>Identificación completada</h2>

            <div class="resultado-card">

                <p class="resultado-label">
                    Microorganismo con mayor coincidencias:
                </p>
                <h1 id="nombreBacteria"></h1>
                <p>
                    Coincidencia:
                    <strong id="porcentajeCoincidencia"></strong>
                </p>
            </div>
            <div class="detalle-resultado">

                <h3>¿Por qué se obtuvo este resultado?</h3>
                <p>Este microorganismo se obtuvo al comparar los resultados que proporcionaste,
                    con las características conocidas de los microorganismos registrados
                    en el sistema.<br> La identificación debe interpresarse como una
                    aproximación y no como un resultado que pueda ser considerado definitivo. 
                    Se recomienda realizar pruebas adicionales para confirmar la identificación del 
                    microorganismo de ser necesario.
                </p>
                <div id="tablaCoincidencias"></div>
            </div>
            <button id="btnNuevaIdentificacion">
                Nueva Identificación
            </button>
        </section>
    </div>
    <div id="diccionarioModal" class="diccionario-modal">
        <div class="diccionario-contenido">
            <button id="cerrarDiccionario" class="cerrar-diccionario">
                <i class="fa-solid fa-xmark"></i>
            </button>

            <h2 id="diccionarioTitulo"></h2>

            <div class="diccionario-seccion">
                <h3>Definición</h3>
                <p id="diccionarioDefinicion"></p>
            </div>

            <div class="diccionario-seccion">
                <h3>Interpretación</h3>
                <p id="diccionarioInterpretacion"></p>
            </div>
        </div>
    </div>

</main>

{% block js %}

<script src="{{ url_for('static', path='js/identificacion.js') }}"></script>

{% endblock %}

{% endblock %}