<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión | BIOGRAM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
</head>

<body>

    <div class="container">
        <div class="form-container">
            <div class="form-top">
                <a href="/" class="back-home">
                    <span class="arrow">
                        <i class="fa-solid fa-caret-left"></i>
                    </span>
                    <span>Inicio</span>
                </a>
            </div>
            <div class="form" id="form">
                <form class="login" id="login">
                    <h2>Bienvenido de nuevo</h2>
                    <p>¿Ya tienes una cuenta? Inicia sesión con tu correo y contraseña. <br> <br> Si es tu primera vez en BIOGRAM, selecciona más abajo "Regístrate" para crear una cuenta.</p>
                    <div class="input">
                        <label for="login-email">Correo electrónico</label>
                        <input type="email" id="login-email" name="email" required
                            placeholder="Introduce tu correo electrónico">
                        <div class="error" id="error_correo"></div>
                    </div>
                    <div class="input">
                        <label for="login-password">Contraseña</label>
                        <input type="password" id="login-password" name="password" required 
                            placeholder="Introduce tu contraseña">
                        <div class="error" id="error_password"></div>
                    </div>
                    <div class="reminder">
                        <div class="checkbox-container">
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember">Recuérdame durante 30 días</label>
                        </div>
                        <a href="/recuperar" class="forgot">Olvidé mi contraseña</a>
                    </div>
                    <div class="buttons">
                        <button type="submit">Iniciar sesión</button>
                        <button type="button">
                            <img src="{{ url_for('static', path='img/Google.png') }}" alt="ic-google"
                                class="icon-google">
                            Iniciar sesión con Google
                        </button>
                    </div>
                    <p class="account">¿Aún no tienes una cuenta? <a href="#" id="sign-up">Regístrate</a></p>
                </form>

                <form class="register" id="form_register">
                      
                    <h2>Crea tu cuenta</h2>
                    <p>Usa un correo electrónico para crear tu cuenta y puedas gozar de todas las herramientas de
                        BIOGRAM.</p>
                    <div class="input">
                        <label for="register-name">Nombre completo</label>
                        <input type="text" id="register-name" name="name" required
                            placeholder="Introduce un nombre y un apellido">
                        <div class="error" id="error_nombre"></div>
                    </div>
                    <div class="input">
                        <label for="register-email">Correo electrónico</label>
                        <input type="email" id="register-email" name="email" required 
                            placeholder="Introduce un correo electrónico">
                        <div class="error" id="error_correo_register"></div>
                    </div>
                    <div class="input">
                        <label for="register-password">Contraseña</label>
                        <input type="password" id="register-password" name="password" required
                            placeholder="Crea una contraseña">
                        <div class="error" id="error_password_register"></div>
                    </div>
                    <div class="buttons">
                        <button type="submit">Registrarme</button>
                        <button type="button">
                            <img src="{{ url_for('static', path='img/Google.png') }}" alt="ic-google"
                                class="icon-google">
                            Iniciar sesión con Google
                        </button>
                    </div>
                    <p class="account">¿Ya tienes una cuenta? <a href="#" id="sign-in">Inicia sesión</a></p>
                </form>

            </div>

        </div>
        <div class="banner" id="banner">
            <div class="circle"></div>
            <img src="{{ url_for('static', path='img/logoPNG.png') }}" alt="BIOGRAM" class="banner-logo">
            <div class="circle-2"></div>

        </div>
    </div>


    <script src="{{ url_for('static', path='js/script.js') }}"></script>
    <script src="{{ url_for('static', path='js/auth.js') }}"></script>
</body>

</html>