<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión | BIOGRAM</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
</head>
<body>
    <a href="/" class="back-home">
        <i class="fa-solid fa-arrow-left"></i>
        Volver al inicio
    </a>
    <div class="container">
        <div class="form-container">
            <div class="form-top">
                <span>BIOGRAM</span>
            </div>
            <div class="form" id="form">
                <form class="login" id="login">
                    <h2>Bienvenido de nuevo</h2>
                    <p>Hola de nuevo, ¡bienvenido! por favor introduce los datos para iniciar tu sesión.</p>
                    <div class="input">
                        <label for="login-email">Correo electrónico</label>
                        <input 
                        type="email" 
                        id="login-email"
                        name="email" 
                        required
                        placeholder="Introduce tu correo electrónico">
                        <div class="error" id="error_correo"></div>
                    </div>
                    <div class="input">
                        <label for="login-password">Contraseña</label>
                        <input 
                        type="password" 
                        id="login-password" 
                        name="password" 
                        required 
                        placeholder="Introduce tu contraseña">
                        <div class="error" id="error_password"></div>
                    </div>
                    <div class="reminder">
                        <div class="checkbox-container">
                            <input 
                            type="checkbox" 
                            id="remember"
                            name="remember">
                            <label for="remember">Recuérdame durante 30 días</label>
                        </div>
                        <a href="/recuperar"
                        class="forgot">Olvidé mi contraseña</a>
                    </div>
                    <div class="buttons">
                        <button type="submit">Iniciar sesión</button>
                        <button type="button">
                            <img src="{{ url_for('static', path='img/Google.png') }}"alt="ic-google" class="icon-google">
                            Iniciar sesión con Google
                        </button>
                    </div>
                    <p class="account">¿Aún no tienes una cuenta? <a href="#" id="sign-up">Regístrate</a></p>
                </form>

                <form class="register" id="form_register">
                      
                    <h2>Crea tu cuenta</h2>
                    <p>Usa tu correo electrónico para crear tu cuenta.</p>
                    <div class="input">
                        <label for="register-name">Nombre</label>
                        <input 
                        type="text" 
                        id="register-name"
                        name="name"  
                        required
                        placeholder="Introduce tu nombre">
                        <div class="error" id="error_nombre"></div>
                    </div>
                    <div class="input">
                        <label for="register-lastname">Apellido</label>
                        <input 
                        type="text" 
                        id="register-lastname"
                        name="lastname"  
                        required
                        placeholder="Introduce tu apellido">
                        <div class="error" id="error_apellido"></div>
                    </div>
                    <div class="input">
                        <label for="register-email">Correo electrónico</label>
                        <input 
                        type="email" 
                        id="register-email" 
                        name="email" 
                        required 
                        placeholder="Introduce un correo electrónico">
                        <div class="error" id="error_correo_register"></div>
                    </div>
                    <div class="input">
                        <label for="register-password">Contraseña</label>
                        <input 
                        type="password" 
                        id="register-password"
                        name="password" 
                        required 
                        placeholder="Introduce una contraseña">
                        <div class="error" id="error_password_register"></div>
                    </div>
                    <div class="buttons">
                        <button type="submit">Registrarme</button>
                        <button type="button">
                            <img src="{{ url_for('static', path='img/Google.png') }}" alt="ic-google" class="icon-google">
                            Iniciar sesión con Google
                        </button>
                    </div>
                    <p class="account">¿Ya tienes una cuenta? <a href="#" id="sign-in">Inicia sesión</a></p>
                </form>

            </div>
            <div class="form-bot">
                <span>Property Biogram</span>   
            </div>
        </div>
        <div class="banner" id="banner">
            <div class="circle"></div>
            <div class="circle-2"></div>
        </div>
    </div>


    <script src="{{ url_for('static', path='js/script.js') }}"></script>
    <script src="{{ url_for('static', path='js/auth.js') }}"></script>
</body>
</html>