{% extends "base.html" %}

{% block title %}Mi perfil | BIOGRAM{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/perfil.css') }}">
{% endblock %}

{% block contenido %}

<div class="perfil-pagina">

    <a href="/" class="btn-regresar">
        Regresar al inicio
    </a>

    <section class="perfil-header">

        <button class="avatar" id="btnAvatar" type="button">

            <img id="avatarActual" src="{{ usuario.avatar }}" alt="Avatar">

            <span class="avatar-editar">
                <i class="fa-solid fa-pencil"></i>
            </span>

        </button>

        <h1>
            {{ usuario.nombre|capitalize }} {{ usuario.apellido|capitalize }}
        </h1>

        <p class="correo-principal">
            {{ usuario.correo }}
        </p>

    </section>

    <div id="modalAvatar" class="modal-avatar">

        <div class="modal-avatar-contenido">

            <button id="cerrarAvatar" class="cerrar-modal" type="button">
                <i class="fa-solid fa-xmark"></i>
            </button>

            <h2>Elige tu avatar</h2>

            <p>
                Selecciona el personaje que quieres utilizar en BIOGRAM.
            </p>

            <div class="avatares-grid">

                <button class="avatar-opcion" data-avatar="avatar1.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar1.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar2.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar2.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar3.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar3.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar4.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar4.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar5.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar5.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar6.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar6.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar7.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar7.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar8.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar8.png') }}">
                </button>
                
                <button class="avatar-opcion" data-avatar="avatar9.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar9.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar10.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar10.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar11.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar11.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar12.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar12.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar13.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar13.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar14.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar14.png') }}">
                </button>

                <button class="avatar-opcion" data-avatar="avatar15.png">
                    <img src="{{ url_for('static', path='img/avatars/avatar15.png') }}">
                </button>

            </div>

        </div>

    </div>

    <section class="perfil-contenido">

        <h2>Información</h2>

        <div class="dato-perfil">

            <label>Correo electrónico</label>

            <div class="dato">
                {{ usuario.correo }}
            </div>

        </div>


        <button class="opcion-perfil">
            <i class="fa-solid fa-lock"></i>

            <span>
                <strong>Cambiar contraseña</strong>
                <small>Actualiza la contraseña de tu cuenta</small>
            </span>

            <i class="fa-solid fa-chevron-right"></i>
        </button>


        <a href="/sobre-nosotros" class="opcion-perfil">
            <i class="fa-solid fa-circle-info"></i>

            <span>
                <strong>Sobre nosotros</strong>
                <small>Conoce al equipo detrás de BIOGRAM</small>
            </span>

            <i class="fa-solid fa-chevron-right"></i>
        </a>


        <a href="/usuarios/logout" class="opcion-perfil cerrar-sesion">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>
                <strong>Cerrar sesión</strong>
                <small>Salir de tu cuenta</small>
            </span>
        </a>

    </section>

</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', path='js/perfil.js') }}"></script>
{% endblock %}