
.perfil-pagina {
    min-height: calc(100vh - 95px);
    background: #ffffff;
    padding: 28px 75px 60px;
}


/* ===== REGRESAR ===== */

.btn-regresar {
    /*display: inline-block;
    padding: 11px 30px;
    background: #9a86df;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s;*/

    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding: .55rem 1rem;
    border-radius: 30px;
    background: white;
    border: 2px solid #9288e3;
    color: #9288e3;
    text-decoration: none;
    font-size: .85rem;
    font-weight: 600;
    transition: all .25s ease;
}

.btn-regresar:hover {
    /*background: #8872d1;*/
    background: #9288e3;
    color: white;
    transform: translateX(-3px);
    box-shadow: 0 8px 20px rgba(146, 136, 227, .30);
}


/* ===== ENCABEZADO DEL PERFIL ===== */

.perfil-header {
    text-align: center;
    padding-top: 35px;
}


.avatar-container {
    display: flex;
    justify-content: center;
}


.avatar {
    width: 120px;
    height: 120px;

    border-radius: 50%;

    background: #3eb4e8;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 45px;
    color: #1c2930;
}


.perfil-header h1 {
    margin: 18px 0 4px;

    font-size: 30px;
    font-weight: 600;
}


.correo-principal {
    margin: 0;

    font-size: 16px;
    color: #666;
}


/* ===== CONTENIDO ===== */

.perfil-contenido {
    width: min(700px, 90%);
    margin: 45px auto 0;
}


.perfil-contenido h2 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 25px;
}


/* ===== CORREO ===== */

.dato-perfil {
    margin-bottom: 20px;
}


.dato-perfil label {
    display: block;

    margin-bottom: 8px;

    font-size: 16px;
}


.dato {
    padding: 13px 18px;

    border: 1.5px solid #222;
    border-radius: 15px;

    background: transparent;

    font-weight: 500;
}


/* ===== OPCIONES ===== */

.opcion-perfil {
    width: 100%;

    border: none;
    background: transparent;

    display: flex;
    align-items: center;

    gap: 18px;

    padding: 18px 10px;

    text-align: left;

    cursor: pointer;

    border-bottom: 1px solid #ddd;

    font-family: inherit;

    transition: 0.2s;
}


.opcion-perfil:hover {
    background: rgba(255, 255, 255, 0.55);
}


.opcion-perfil > i:first-child {
    width: 30px;

    text-align: center;

    font-size: 19px;

    color: #7865c5;
}


.opcion-perfil span {
    flex: 1;

    display: flex;
    flex-direction: column;

    gap: 3px;
}


.opcion-perfil strong {
    font-size: 16px;
    font-weight: 500;
}


.opcion-perfil small {
    color: #777;
    font-size: 13px;
}


.opcion-perfil > i:last-child {
    color: #888;
}


/* ===== CERRAR SESIÓN ===== */

.opcion-perfil.cerrar-sesion {
    color: #c94b5a;
    border-bottom: none;

    margin-top: 15px;
}


.opcion-perfil.cerrar-sesion > i:first-child {
    color: #c94b5a;
}