/* ============================= */
/* VARIABLES */
/* ============================= */

:root{
    --azul:#42B7F5;
    --azul-hover:#2A9DDA;
    --morado:#AA8CF2;
    --gris:#F2F2F2;
    --texto:#222;

    --color-principal:#39B7F3;
    --color-principal-hover:#2A9AD7;

    --color-secundario:#A68AEF;
    --color-secundario-hover:#8E73DC;

    --color-fondo:#FFFFFF;

    --color-header:#F3F3F3;

    --texto:#222222;

    --radio:8px;
}

/* ============================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* ============================= */

body{
    font-family:Poppins,sans-serif;
    color:var(--texto);
}

/* ============================= */
/* HEADER */
/* ============================= */

.navbar{
    height:95px;
    background:var(--color-header);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 70px;
}

.logo img{
    width:250px;
}

.menu{
    display:flex;
    gap:40px;
    list-style:none;
}

.menu a{
    text-decoration:none;
    color:#000;
    font-weight:600;
}

/* ============================= */
/* INICIO */
/* ============================= */

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    min-height: calc(100vh - 95px);
    padding:70 90px;
}

.left-content{
    display: flex;
    flex-direction: column;
    gap: 45px; /*separación entre los elementos*/
    justify-content: flex-start;
    align-items: center; /*centra los elementos horizontalmente*/
    padding-top: 110px;
    padding-left: 30px;
}
.right-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-right: 45px;
}
.right-content h1{
    line-height: 65px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 120px;
}

h1{
    font-size:58px;
    font-weight:700;
}

h2{
    font-size:36px;
    font-weight:400;
}

/* ============================= */
/* BOTONES */
/* ============================= */

.btn{
    width:340px;
    height:60px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    font-weight:600;
    transition: all .30s ease;
}
.btn-principal{
    background: var(--color-principal);
    color:white;
}

.btn-principal:hover{
    background: var(--color-principal-hover);
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px rgba(57,183,243,.35);
}
.btn-login{
    background:var(--color-secundario);
    color:white;
    padding:15px 25px;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:.30s;

}
.btn-login:hover{
    background: var(--color-secundario-hover);
    transform:translateY(-2px);
    box-shadow:0px 8px 20px rgba(166,138,239,.35);
}