<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="form-top">
                <span>BIOGRAM</span>
            </div>
            <div class="form" id="form">
                <form id="login" class="login">
                    <h2>Bienvenido de nuevo</h2>
                    <p>Hola de nuevo, ¡bienvenido! por favor introduce los datos para iniciar tu sesión.</p>
                    <div class="input">
                        <label for="email">Correo electrónico</label>
                        <input type="email" name="emailL" id="emailL" placeholder="Introduce tu correo electrónico">
                        <div id="error_correo" class="error"></div>
                    </div>
                    <div class="input">
                        <label for="password">Contraseña</label>
                        <input type="password" name="passwordL" id="passwordL" placeholder="Introduce tu contraseña">
                        <div id="error_contrasena" class="error"></div>
                    </div>
                    <div class="reminder">
                        <div class="checkbox-container">
                            <input type="checkbox" id="terms">
                            <label for="terms">Recuérdame durante 30 días</label>
                        </div>
                        <span class="forgot">¿Olvidaste tu contraseña?</span>
                    </div>
                    <div class="buttons">
                        <button type="submit">Iniciar sesión</button>
                        <button>
                            <img src="/icons/ic-google.svg" alt="ic-google" class="icon-google">
                            Iniciar sesión con Google
                        </button>
                    </div>
                    <p class="account">¿Aún no tienes una cuenta? <a href="#" id="sign-up">Regístrate</a></p>
                </form>

                <form id="CreateUser" class="register">
                    <h2>Crea tu cuenta</h2>
                    <p>Usa tu correo electrónico para crear tu cuenta.</p>
                    <div class="input">
                        <label for="text">Nombre</label>
                        <input type="text" name="nombre" id="nombre" placeholder="Introduce un nombre">
                        <div id="error_nombre" class="error"></div>
                    </div>
                    <div class="input">
                        <label for="text">Apellido</label>
                        <input type="text" name="apellido" id="apellido" placeholder="Introduce un apellido">
                        <div id="error_apellido" class="error"></div>
                    </div>
                    <div class="input">
                        <label for="email">Correo electrónico</label>
                        <input type="email" name="email" id="email" placeholder="Introduce un correo electrónico">
                        <div id="error_email" class="error"></div>
                    </div>
                    <div class="input">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Introduce una contraseña">
                        <div id="error_password" class="error"></div>
                    </div>
                    <div class="buttons">
                        <button type="submit">Registro</button>
                        <button>
                            <img src="/icons/ic-google.svg" alt="ic-google" class="icon-google">
                            Iniciar sesión con Google
                        </button>
                    </div>
                    <p class="account">¿Ya tienes una cuenta? <a href="#" id="sign-in">Inicia sesión</a></p>
                </form>

            </div>
            <div class="form-bot">
                <span>Property Biogram</span>   
            </div>
        </div>
        <div class="banner">

        </div>
    </div>
    <div id="transition"></div>

    <script src="../static/js/script.js"></script>
    <script src="../static/js/utils.js"></script>
</body>
</html>